:root {
    --background: #08090d;
    --foreground: #e1e4e8;
    --card: #0e1015;
    --primary: #10b981;
    --primary-foreground: #022c22;
    --secondary: #13161c;
    --secondary-foreground: #94a3b8;
    --accent: oklch(37% 0.013 285.805);

    --chart-1: #10b981;
    --chart-2: #3b82f6;
    --chart-3: #f59e0b;
    --chart-4: #8b5cf6;
    --chart-5: #ef4444;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-accent: var(--accent);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
}

